/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#cell-style-o {
	-fx-font-size: 60px "Noto Sans Myanmar UI";
	-fx-font-weight: bold;
	-fx-text-fill: #00beff;
}
#cell-style-o:hover {
	-fx-font-size: 70px;
}

#cell-style-x {
	-fx-font-size: 60px "Noto Sans Myanmar UI";
	-fx-font-weight: bold;
	-fx-text-fill: red;
}
#cell-style-x:hover {
	-fx-font-size: 70px;
}

#upper-cell {
	-fx-font-size: 60px "Noto Sans Myanmar UI";
	-fx-font-weight: bold;
	-fx-background-color:
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
}